# /etc/systemd/system/gunicorn619.service

[Unit]
Description=gunicorn 619 daemon
Requires=gunicorn619.socket
After=network.target

[Service]
Type=notify
User=www-data
Group=www-data
RuntimeDirectory=gunicorn
WorkingDirectory=/opt/lai619/async_course
ExecStart=/opt/lai619/env/bin/gunicorn \
  --bind unix:/opt/lai619/gunicorn619.sock \
  --access-logfile /opt/lai619/logs/gunicorn619-access.log \
  --error-logfile /opt/lai619/logs/gunicorn619-error.log \
  --log-level debug\
  async_course.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
