/* Style sheet for async app */

#main-content {
  margin: 0 10px;
}
.prose {
  margin: 0 auto;
  width: 800px;
}
form.async-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.grow-1 > :nth-child(1) {
    flex-grow: 1;
}
.grow-2 > :nth-child(2) {
    flex-grow: 1;
}
.grow-3 > :nth-child(3) {
    flex-grow: 1;
}
.grow-4 > :nth-child(4) {
    flex-grow: 1;
}
form.async-form p {
    display: flex;
}
form.async-form p :last-child {
    flex-grow: 1;
}

form.async-form label {
   width: 100px;
}

.post-upvote {
    display: inline;
}
.post-upvote input {
    border: none;
    background-color: initial;
    cursor: pointer;
}
.post .children {
  margin-left: 40px;
  border-left: 2px solid grey;
}
.post.nested {
  border-top: 2px solid grey;
  padding-top: 6px;
  padding-left: 6px;
}
.post.new {
  border-left: 4px solid #e74c3c;
  padding-left: 2px;
}
.pub-reference, .csl-entry {
  margin-left: 20px;
  text-indent: -20px;
  list-style: none;
}
.bibliography {
    padding-left: 0;
}

.edit-page {
  position: absolute;
  margin: 8px;
  right: 12px;
}
.submissions-reviews {
  display: flex;
  flex-direction: column;
}
.submission {
  border: 1px solid black;
  margin: 8px 0;
  padding: 4px;
  width: 60%;
  align-self: flex-start;
}
.review {
  border: 1px solid black;
  margin: 8px 0;
  padding: 4px;
  width: 60%;
  align-self: flex-end;
}
pre {
  border: 1px solid black;
  background-color: #ddd;
  padding: 4px;
  overflow: scroll;
}
.badge {
  background-color: #e74c3c;
  color: white;
  padding: 3px;
  border-radius: 4px;
}
