{% load post_tags %}

<article class="post">
    <h1>
      {% if post.is_root %}
        <a href="{% url 'posts:detail' post.id %}">{{post.title}}</a>
      {% else %}
        <a href="{% url 'posts:detail' post.id %}">{{post.lede}}</a>
        (reply to <a href="{% url 'posts:detail' post.root_post.id %}">{{post.root_post.title}}</a>)
      {% endif %}
    </h1>
    <div class="post-details">
      {% with static=True %}
        {% include "posts/partials/upvote.html" %}
      {% endwith %}
      {{post.score}} point{{post.score|pluralize}} by 
      {% with user=post.author %}{% include "profiles/partials/user_link.html" %}{% endwith %}
      {{post.humanized_creation_date}}
  </div>
  {{post.html|safe}}
</article>

