{% extends "assignments/base.html" %}

{% block content %}
<h1>Assignments</h1>
<ul>
    {% for new, status, assn in assignments_with_status %}
      {% if user.profile.is_student %}
      <li{% if new %} class="new"{% endif %}>
          <a href="{% url 'assignments:submissions' assn.slug user.username %}">
            {{status}} 
          </a>
          <a href="{% url 'assignments:detail' assn.slug %}">
            {{assn.title}}
          </a>
        </li>
      {% else %}
        {% if assn.has_submissions and user.profile.is_teacher %}
          <li><a href="{% url 'assignments:roster' assn.slug %}">{{assn.title}}</a></li>
        {% else %}
          <li><a href="{% url 'assignments:detail' assn.slug %}">{{assn.title}}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
{% for post in posts %}
  {% include "posts/partials/post_li.html" %}
{% endfor %}
</ul>
{% endblock %}

